*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
                                    /* ------------------Facebook left logo css apply--------------------- */
.logo img{
    width: 40px;
    height: 39.86px;
    /* margin-top: 10px; */ 
    margin-left: 18px;
    
}

.logo{
    padding-top: 10px;
}

nav{
    height: 59px;
    /* background-color: aqua; */
    border-bottom: 1px solid #eee;
    display: flex;
    /* margin-top: 10px; */
    gap: 13px;
    /* align-items: center;
    justify-content: center; */
}

/*-----------facebook searchbox design css--------------*/
.box{
    background-color: #eee;
    /* background-color: aqua; */
    width: 240px;
    height: 40px;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 25px;
    margin-top: 10px;
    padding-top: 4px;
    gap: 13px;
}

input{
    width: 240px;
    border: none;
    outline: none;
    background: none;    
}

.fa-solid:hover{
    color: orange;
    cursor: pointer;
}


/* middle navigation css */
.middle_nav ul{
    display: flex;
    gap: 150px;   
}

.middle_nav {
    margin-left: auto;
    margin-right: auto;    
}

.middle_nav ul li{
    list-style-type: none;   
}

.middle_nav ul li img{
    width: 22px;
    height: 22.5px;
    margin-top: 15px;  
}



