*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
                                    /* ------------------Facebook left logo css apply--------------------- */
.logo img{
    width: 40px;
    height: 39.86px;
    /* margin-top: 10px; */ 
    margin-left: 18px;
    
}

.logo{
    padding-top: 10px;
}

nav{
    height: 59px;
    /* background-color: aqua; */
    border-bottom: 1px solid #eee;
    display: flex;
    /* margin-top: 10px; */
    gap: 13px;
    /* align-items: center;
    justify-content: center; */
}

/*-----------facebook searchbox design css--------------*/
.box{
    background-color: #eee;
    /* background-color: aqua; */
    width: 240px;
    height: 40px;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 25px;
    margin-top: 10px;
    padding-top: 4px;
    gap: 13px;
    
    
}

.box:hover{
    width: 31px;
    height: 48px;
    /* background: red; */

}

input{
    width: 240px;
    border: none;
    outline: none;
    background: none;    
}

.fa-solid:hover{
    color: orange;
    cursor: pointer;
}


/*-----------------middle navigation css--------------------*/
.middle_nav ul{
    display: flex;
    gap: 150px;   
}

.middle_nav {
    margin-left: auto;
    margin-right: auto;    
}

.middle_nav ul li{
    list-style-type: none;   
}

.middle_nav ul li img{
    width: 22px;
    height: 22.5px;
    margin-top: 15px;
     
}

/*----------------Left navigation-----------------------*/
.left_nav ul{
    display: flex;
    gap: 30px;
    margin-right: 40px;
}

.left_nav ul li{
    list-style-type: none;
}

.left_nav ul li img{
    width: 22px;
    height: 22.5px;
    margin-top: 15px;  
}


/*---------Left Side Account Icon Plus Name-------------*/
.fb_left img{
    width: 28px;
    height: 28px;
    margin-top: 8px;
    margin-left: 20px;
}

.fb_left ul1 {
    display: flex;
}

.fb_left ul1 li{
    list-style-type: none;
}

.fb_left ul1 li p{
    margin-top: 16px;
    margin-left: 15px;
}

.container2{
    width: 360px;
    gap-top:30px;
    /* background-color: aqua; */
}

.body_left .container2{
    margin-top: 30px;
    margin-left: 20px;
    /* border: 2px solid red; */
}

.body_left .container2 .fb_left:hover{
    background-color: #eee;
    border-radius: 10px;
}

.body_left .container2:active{
    background-color: #eee;
    border-radius: 10px;
}
.body_left .container2 .fb_left {
    height: 44px;
    cursor: pointer;
}


/*---------Left Side friend Icon Plus start Name-------------*/
.friends1 i{
    margin-top: 5px;
    margin-left: 12px;
}

.friends1{
    margin-top: 10px;
    width: 360px;
    height: 44px;
    gap-top:30px;
    /* background-color: aqua; */
    cursor: pointer;
}
.friends1 ul2{
    display: flex;
}

.friends1 ul2 li{
    list-style-type: none;
}
.friends1 ul2 li p{
    margin-top: 14px;
    margin-left: 10px;

}

.friends1:hover{
    background-color: #eee;
    border-radius: 10px;
}
/*---------Left Side friend Icon Plus End Name-------------*/

/*----------------Facebook pages Start------------------- */

.facebook_pages ul3{
    display: flex;
}

.facebook_pages ul3 li{
    list-style-type: none;
}

.facebook_pages ul3 li i{
    margin-top: 10px;
    margin-left: 10px;
}

.facebook_pages ul3 li p{
    margin-top: 18px;
    margin-left: 10px;
}

.facebook_pages:hover{
    background-color: #eee;
    border-radius: 10px;
}

/*----------------Facebook pages End------------------- */

/* -----Facebook Saved Start------------ */
.facebook_paged ul4{
    display: flex;
}

.facebook_paged ul4 li{
    list-style-type: none;
}

.facebook_paged ul4 li i{
    margin-top: 10px;
    margin-left: 10px;
}

.facebook_paged ul4 li p{
    margin-top: 18px;
    margin-left: 10px;
}

.facebook_paged:hover{
    background-color: #eee;
    border-radius: 10px;
}
/* ------- Facebook Saved End---------- */

/* ------- Facebook Memories CSS Start----------- */

.memories ul5{
    display: flex;
}

.memories ul5 li{
    list-style-type: none;
}

.memories ul5 li i{
    margin-top: 10px;
    margin-left: 10px;
}

.memories ul5 p{
    margin-top: 18px;
    margin-left: 10px;
}

.memories:hover{
    background-color: #eee;
    border-radius: 10px;
}

/*------- Facebook Memories CSS Apply End--------*/

/*------- Facebook Group CSS Start------------- */

.group ul6{
    display: flex;
}


.group ul6 li{
    list-style-type: none;
}

.group ul6 li i{
    margin-top: 10px;
    margin-left: 10px;
}

.group ul6 p{
    margin-top: 18px;
    margin-left: 10px;
}

.group:hover{
    background-color: #eee;
    border-radius: 10px;
}


/*------- Facebook See More CSS Start----------- */
.see_more ul7{
    display: flex;
}

.see_more ul7 li{
    list-style-type: none;
}

.see_more ul7 li i{
    margin-top: 13px;
    margin-left: 18px;
}

.see_more ul7 p{
    margin-top: 10px;
    margin-left: 10px;
}

svg.x19dipnz.x1lliihq.x1k90msu.x2h7rmj.x1qfuztq {
    margin-left: 18px;
    margin-top: 8px;
}

.see_more:hover{
    background-color: #eee;
    border-radius: 10px;
}

/*------- Facebook See More CSS End----------- */

/*------- Facebook Css Border Bottom------------- */
.border_bootom{
    border-bottom: 2px solid #eee;
    margin-top: 20px;
}

.x1lliihq{
    margin-top: 20px;
}

/* ---- Edit Button CSS Apply */

/* .Edit .btn{
    padding: 10px 5px;
    color: rgb(0, 110, 255);
    border: none;
    outline: none;
    margin-left: 330px;
    background-color: none; 
    margin-top: -120px;
} */

/* ------ SEO Expert CSS Start------ */
.seo_expert ul8{
    display: flex;
}

.seo_expert ul8 img{
    width: 35px;
    height: 35px;  
}

.seo_expert ul8 img{
    margin-left: 10px;
}

.seo_expert ul8 li{
    list-style-type: none;
}

.seo_expert img{
    margin-top: 8px;
    border-radius: 10px;
}


span.x1lliihq.x6ikm8r.x10wlt62.x1n2onr6 {
    margin-top: 14px;
    margin-left: 10px;
}

.seo_expert:hover{
    background-color: #eee;
    border-radius: 10px;
}
/* ------ SEO Expert CSS End------ */

/* ------ Learn From Top Rated Freelamcer start------------- */
.freelancer ul9{
    display: flex;
}

.freelancer ul9 img{
    width: 35px;
    height: 35px;
    margin-left: 10px; 
}

.freelancer ul9 li{
    list-style-type: none;
}

.freelancer img{
    margin-top: 8px;
    border-radius: 10px;
}
span.x1lliihq.x6ikm8r.x10wlt62.x1n2onr6 {
    margin-top: 16px;
}

.freelancer:hover{
    background-color: #eee;
    border-radius: 10px;
}
/* ------ Learn From Top Rated Freelamcer End------------- */

/* ------ Free Wordpress Theme And Plugin start ----------- */
.wordpress ul10{
    display: flex;
}
.wordpress ul10 li{
    list-style-type: none;
}
.wordpress ul10 img{
    width: 35px;
    height: 35px;
    margin-left: 10px;
}

.wordpress img{
    margin-top: 8px;
    border-radius: 10px;
}

.wordpress:hover{
    background-color: #eee;
    border-radius: 10px;
}
/* ------ Free Wordpress Theme And Plugin End ----------- */

/* ------ hablu programmer community start ----------- */
.hablu ul11{
  display: flex;
}

.hablu ul11 li{
    list-style-type: none;
}

.hablu ul11 img{
    width: 35px;
    height: 35px;
    margin-left: 10px;
}
.hablu img{
    margin-top: 8px;
    border-radius: 10px;
}

.hablu:hover{
    background-color: #eee;
    border-radius: 10px;
}
/* ------ hablu programmer community End ----------- */   

/* ------ Unique Way Of Your Selling service start --------- */
.unique ul12{
    display: flex;
}

.unique ul12 li{
    list-style-type: none;
}

.unique ul12 img{
    width: 35px;
    height: 35px;
    margin-left: 10px;
}

.unique img{
    margin-top: 8px;
    border-radius: 10px;
}

.unique:hover{
    background-color: #eee;
    border-radius: 10px;
}

/* ------ Unique Way Of Your Selling service End --------- */

/*------- Facebook See More CSS Start----------- */
.see_more ul13{
    display: flex;
}

.see_more ul13 li{
    list-style-type: none;
}

.see_more ul13 li i{
    margin-top: 13px;
    margin-left: 18px;
}

.see_more ul13 p{
    margin-top: 10px;
    margin-left: 10px;
}

svg.x19dipnz.x1lliihq.x1k90msu.x2h7rmj.x1qfuztq {
    margin-left: 18px;
    margin-top: 8px;
}

.see_more:hover{
    background-color: #eee;
    border-radius: 10px;
}

/*------- Facebook See More CSS End----------- */
/* ------ Middle Position header Start -------- */
.first_img{
    position: absolute;
    margin-top: -660px;
    margin-left: 610px;
    border-radius: 10px;
}

.second_img{
    position: absolute;
    margin-top: -660px;
    margin-left: 760px;
    border-radius: 10px;
}

.third_img{
    position: absolute;
    margin-top: -660px;
    margin-left: 910px;
    border-radius: 10px; 
}

.fourth_img{
    position: absolute;
    margin-top: -660px;
    margin-left: 1060px;
    border-radius: 10px;
}

.five_img{
    position: absolute;
    margin-top: -660px;
    margin-left: 1210px;
    border-radius: 10px; 
}

.six_img{
    position: absolute;
    margin-top: -660px;
    margin-left: 1360px;
    border-radius: 10px;
}
/* ------ Middle Position header End -------- */

.section{
    position: absolute;
    width: 836px;
    height: 125px;
    /* background-color: aqua; */
    margin-top: -380px;
    margin-left: 610px;
    border: 1px solid #eee;
    border-radius: 10px;
}

.account img{
    width: 50px;
    height: 50px;
    margin-top: 10px;
    margin-left: 10px;
}


input#mind {
    position: absolute;
    background-color: #e4e6e8;
    padding: 10px;
    width: 750px;
    height: 45px;
    border-radius: 50px;
    margin-left: 70px;
    margin-top: -50px;
    font-size: 18px;
}

.middle_bottom{
    border: 1px solid #eee;
    width: 800px;
    margin-left: 22px;
    margin-top: 10px;
}

.xz74otr {
    object-fit: fill;
}

img.xz74otr {
    margin-top: 10px;
    margin-left: 150px;
}

.live_vide .video{
  margin-top: -24px;
  margin-left: 130px;
}
.live .live_video{
    width: 260px;
    height: 36px;
    /* background-color: aqua; */
}
.live_video{
    position: absolute;
    margin-top: -300px;
    margin-left: 600px;
   
}

p.video {
    margin-top: -25px;
    margin-left: 180px;
}
.photo .xz74otr {
    position: absolute;
    margin-top: -290px;
    margin-left: 980px;
}


span.x1lliihq.x6ikm8r.x10wlt62.x1n2onr6.xlyipyv.xuxw1ft {
    position: absolute;
    margin-top: -285px;
    margin-left: 1010px;
}

img.xz74otr1 {
    position: absolute;
    margin-top: -290px;
    margin-left: 1220px;
}

span.x1lliihq1.x6ikm8r.x10wlt62.x1n2onr6.xlyipyv.xuxw1ft {
    position: absolute;
    margin-top: -285px;
    margin-left: 1250px;
}

.container_1{
    position: absolute;
    width: 836px;
    height: 100vh;
    /* background-color: aqua; */
    margin-top: -240px;
    margin-left: 610px;
    border: 1px solid #eee;
    border-radius: 10px;
}

.hablu_sajjad ul14{
    display: flex;
}


.hablu_sajjad ul14 li{
    list-style-type: none;
}

.hablu_sajjad ul14 img{
    margin-top: 20px;
    margin-left: 25px;
    border-radius: 10px;
}

.hablu_sajjad ul14 p{
    margin-top: 22px;
    margin-left: 10px;
}


.hablu_sajjad1 ul14{
    display: flex;
}

.hablu_sajjad1 ul14 li{
    list-style-type: none;
}

.hablu_sajjad1 ul14 img{
    position: absolute;
    border-radius: 50px;
    margin-top: -28px;
    margin-left: 52px;
}

.hablu_sajjad1 ul14 p{
    position: absolute;
    margin-top: -32px;
    margin-left: 82px;
}

ul142 .x1i10hfl{
    position: absolute;
    margin-top: -58px;
    margin-left: 730px;
}

ul142 .x1b0d499{
    position: absolute;
    margin-top: -50px;
    margin-left: 780px;
}

.sajjad_img p{
    margin-left: 22px;
}

.sajjad_img img{
    margin-top: 10px;
}

img.x16dsc37 {
    margin-left: 20px;
}
img.x16dsc371 {
    margin-left: -7px;
}

p.x1e558r4 {
    margin-left: 60px;
    margin-top: -20px;
}

p.right_30 {
    margin-top: -20px;
    text-align: right;
    margin-right: 10px;
}

.main_first_bottom{
    margin-top: 20px;
    width: 800px;
    margin-left: 18px;
    border: 1px solid #eee;
}

.like .fa-thumbs-up{
    margin-top: 10px;
    margin-left: 100px;
}

.like p{
    margin-top: -18px;
    margin-left: 120px;
    color: #616161;
}

.comment .fa-regular{
    position: absolute;
    margin-top: -18px;
    margin-left: 380px;
}

.comment p{
    position: absolute;
    margin-top: -18px;
    margin-left: 400px;  
}

.share .fa-share{
    position: absolute;
    margin-top: -18px;
    margin-left: 660px;
}

.share p{
    position: absolute;
    margin-top: -18px;
    margin-left: 680px; 
}

.main_second_bottom{
    margin-top: 10px;
    width: 800px;
    margin-left: 18px;
    border: 1px solid #eee;
}

.comments p{
    margin-top: 20px;
}

.hablu_post_comment img{
    border-radius: 50px;
    margin-left: 20px;
}

input#mind2 {
    position: absolute;
    background-color: #e4e6e8;
    padding: 10px;
    width: 250px;
    height: 60px;
    border-radius: 20px;
    margin-left: 70px;
    margin-top: -30px;
    font-size: 18px;
}


.f_img img{
    width: 24px;
    height: 24px;
    margin-top: 50px;
    margin-left: 20px;
}

span.x4k7w5x.x1h91t0o.x1h9r5lt.x1jfb8zj.xv2umb2.x1beo9mf.xaigb6o.x12ejxvf.x3igimt.xarpa2k.xedcshv.x1lytzrv.x1t2pt76.x7ja8zs.x1qrby5j {
    position: absolute;
    margin-top: -45px;
    margin-left: 80px;
}
.xi81zsa.x1ypdohk.x1rg5ohu.x117nqv4.x1n2onr6.xt0b8zv {
    position: absolute;
    margin-top: -45px;
    margin-left: 170px;
}

.x1i10hfl.xjbqb8w.x6umtig.x1b1mbwd.xaqea5y.xav7gou.x9f619.x1ypdohk.xt0psk2.xe8uvvx.xdj266r.x11i5rnm.xat24cr.x1mh8g0r.xexx8yu.x4uap5.x18d9i69.xkhd6sd.x16tdsg8.x1hl2dhg.xggy1nq.x1a2a7pz.xt0b8zv.xi81zsa.x1xlr1w8 {
    position: absolute;
    margin-top: -45px;
    margin-left: 260px;
}

input#mind3 {
    position: absolute;
    background-color: #e4e6e8;
    padding: 10px;
    width: 750px;
    height: 60px;
    border-radius: 20px;
    margin-left: 50px;
    margin-top: -20px;
    font-size: 18px;
}
